<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- stylesheets og template fra https://embed.plnkr.co/plunk/wH7u64 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">Kort</a>
                </li>
                <li>
                    <a href="nature.html">Øens Natur</a>
                </li>
                <li>
                    <a id="ferry-timer">Time to next ferry: 12min</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
    <div id="sidebar">
        <div class="sidebar-wrapper">
            <div id="features" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Routes</h3>
                    <p>Here you can find all the routes that you can go on.</p>
                    <button id="route-1" style="box-sizing: content-box; width: 90%; height: 60px">
                        Øl Ruten
                    </button>
                    <button id="route-2" style="box-sizing: content-box; width: 90%; height: 60px">
                        Tårn Ruten
                    </button>
                    <button id="route-3" style="box-sizing: content-box; width: 90%; height: 60px">
                        Silde Ruten
                    </button>
                    <button id="route-4" style="box-sizing: content-box; width: 90%; height: 60px">
                        Blomster Ruten
                    </button>
                    <button id="route-5" style="box-sizing: content-box; width: 90%; height: 60px">
                        Naturlivs Ruten
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>
<!-- scripts fra https://embed.plnkr.co/plunk/wH7u64 -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet-src.js"></script>
<script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
<script src="script.js"></script>
</body>
</html>