<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <style>
        html,
        body,
        #container {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: auto;
            height: 100%;
        }

        .leaflet-popup-content {
            width:auto !important;
        }

    </style>

</head>
<body>
<div id="map"></div>


</body>

<script>



    /*Include the marker data and create the layers */
    let pinData = [
        //et sted
        ["/img/pigensSild.png", "Christiansø Pigens Sild", 55.32037, 15.18821, "hfdhasfihsd"],
        //et andet sted
        ["ocean", "2", 55.31637, 15.18911, "fdjsdifoiwj"],
        //et tredje sted
        ["urban", "3", 55.32237, 15.18641, "fdjsdifoiwj"],
        //et helt andet sted
        ["ocean", "4", 55.31838, 15.18611, "fdjsdifoiwj"],
        //et fantastisk sted
        ["ocean", "5", 55.31625, 15.19115, "fdjsdifoiwj"],
        //Verdenens Ende
        ["nature", "6", 55.32290, 15.19100, "fdjsdifoiwj"]
    ];



    const location_desc_url = 'http://localhost:8080/locations/'
    async function getDescription(id){
        const response = await fetch(location_desc_url + id);
        const data = await response.json();
        const text = data.description;
        return text;
    }


    /* Create layers with different colors or pictures */

    let myMarker = new L.LayerGroup();
    for (let i = 0; i < pinData.length; i++){
        locationMarker = L.marker([pinData[i][2], pinData[i][3]]
        ).bindPopup("<h1>" + pinData[i][1] + "</h1> <p>" + pinData[i][4] +
            "</p> <img height='200px' width='auto' src=" + pinData[i][0] + ">").addTo(myMarker);
    }

    /*Initialize map; and change Lat & Lang to Christiansø*/
    let x = 55.32037
    let y = 15.18821
    let z = 16
    let myMap = L.map('map', {
        layers: myMarker
    }).setView([x, y], z);
    myMap.zoomControl.setPosition('bottomright');

    /*Add tileLayers from openstreetmap*/
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap<\/a>';
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Christiansø Map',
        maxZoom: 18,
    }).addTo(myMap);

    /*init function to prevent markerOnClick to interact with mapClick */
    function init() {
        init.called = true;
    }

    /* mapClick function */
    function mapClick () {
        if(init.called) {
            init.called = false;
        }
        else{
            $('.modal').modal('hide');
        }
    }

    /* routes on map using polyline */
    let polylinePoints = [
        [55.32037, 15.18821],
        [55.32237, 15.18641]
    ];

    let polyline = L.polyline(polylinePoints).addTo(myMap);

    /* Close modal when clicking on the map */
    myMap.on('click', mapClick);

</script>
</html>
