<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/
  mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/
  mapbox-gl.css' rel='stylesheet' />
  <title>Forside</title>
</head>
<body>
    <div id='map' style='width: 400px; height: 300px'></div></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FtYTA2NDEiLCJhIjoiY2t3dGwybHJrMWhpODJ3cDM5enJnNm9ndSJ9.yBJGk8oSHcal9_o7ZT_Vog';
    var map = new mapboxgl.map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>










</body>
</html>