<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <style>

        html,
        body,
        #container {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: auto;
            height: 100%;
        }



        .modal-backdrop {
            background-color: transparent;
            display: none;
        }

        .modal {
            pointer-events: none;
            z-index: 10000000000000;
        }

        .modal-content {
            pointer-events: auto;
        }


    </style>

</head>
<body>
<div id="map"></div>

<!-- Modal EMPTY-->
<div aria-labelledby="myModalLabel" class="modal left fade" id="emptymodal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div><!-- modal-content -->
    </div><!-- modal-dialog -->
    <div class="modal-footer">
        <button id="btn-attractions" type="button" class="btn btn-primary" data-bs-dismiss="modal">Attractions</button>
        <button id="btn-tours" type="button" class="btn btn-primary" data-bs-dismiss="modal">Show guided tours</button>
    </div>
</div><!-- modal -->

</body>

<script>

    loadScript('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js', function(){
        loadScript('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js', function(){
            var featureGroup = L.featureGroup().addTo(map);

            var drawControl = new L.Control.Draw({
                edit: {
                    featureGroup: featureGroup
                },
                draw: {
                    polygon: true,
                    polyline: true,
                    rectangle: false,
                    circle: false,
                    marker: false
                }
            }).addTo(map);

            map.on('draw:created', showPolygonArea);
            map.on('draw:edited', showPolygonAreaEdited);

            function showPolygonAreaEdited(e) {
                e.layers.eachLayer(function(layer) {
                    showPolygonArea({ layer: layer })
                });
                L.Polyline = L.Polyline.include({
                    getDistance: function(system) {
                        // distance in meters
                        var mDistanse = 0,
                            length = this._latlngs.length;
                        for (var i = 1; i < length; i++) {
                            mDistanse += this._latlngs[i].distanceTo(this._latlngs[i - 1]);
                        }
                        // optional
                        if (system === 'imperial') {
                            return mDistanse / 1609.34;
                        } else if (type === 'circle') {
                            var area = 0;
                            var radius = e.layer.getRadius();
                            area = (Math.PI) * (radius * radius);
                            e.layer.bindPopup((area / 1000000).toFixed(2) + ' km<sup>2</sup>');
                            e.layer.openPopup();
                        } else {
                            return mDistanse / 1000;
                        }
                    });

    </script>
