
/*Meget CSS er lavet med hjælp fra W3School's forskellige uddybninger og tutorals af CSS
https://www.w3schools.com/css/default.asp */

html, body, #container {
    background: #f4f4f5;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    padding-top: 50px;
}

.navbar {
    min-height: 50px;
    max-height: 50px;
}

#sidebar {
    margin-top: 3%;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 15%;
}

#map {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
}

.sidebar-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.leaflet-popup-content {
    width:auto !important;
}

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }
}

#nature-page{
    overflow: scroll;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background: burlywood;
}

#guided-tour-page{
    overflow: scroll;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background: burlywood;
}

.content-box{
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 4%;
    border-radius: 20px;
    background: azure;
    padding: 25px;
    width: 96%;
    height: 96%;
    overflow: scroll;
    text-overflow: ellipsis;
}

.content-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.content-box-header {

}

.content-box-img-nature{
    content:url("../img/animals/seal.jpg");
    max-width: 100%;

}

.content-box-img-guided-tour{
    content:url("../img/locations/den_store_taarn_linje2.jpeg");
    max-width: 100%;

}

.content-box-text{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

li {
    margin-left: 2%;
}

#ferry-timer{
    color: black;
    font-size: 14pt;
}