html, body, #container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    padding-top: 50px;
}

.navbar {
    min-height: 50px;
}

#sidebar {
    float: left;
    height: 100%;
    max-width: 100%;
    width: 15%;
}

#map {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
}

.sidebar-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.leaflet-popup-content {
    width:auto !important;
}

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }
}

#nature-page{
    overflow: scroll;
    float: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background: burlywood;
}

.content-box{
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 25px;
    border: 1px solid azure;
    border-radius: 20px;
    background: azure;
    padding: 25px;
    width: 350px;
    height: 700px;
    overflow: scroll;
    text-overflow: ellipsis;
}

.content-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
}

.content-box-text{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}